body{
    padding: 0%;
    background: #090F1B;  
    font-family : sans-serif;
    align-items: center;
    color: #737A8A;
    display: grid;
    font-size: 20;
    font-weight: 400;
    height: 100vh;
    justify-items: center;
    width:100vw;
    overflow: hidden;
}

.complete{
    display: grid;
    grid-template-areas: "right left";
    /* max-width: 1800px; */
}

.right-box{
    height: 90%;
    background: #0F203C;
    overflow: hidden;
    margin: 0% 10% 10% 10%;
    padding: 40px 100px 0 0 ;
    position: relative;
    text-align: center;
    width: 500px;
}

.right-box p:nth-child(1){
    font-size: 120px;
    margin-top: 0px;
    padding-left: 70px;
    text-align: center;
    margin-bottom: 0px;
    color: #3D5988;
}

.right-box p:nth-child(2){
    font-size: 60px;
    padding-left: 70px;
    text-align: center;
    margin-top: 10px;
    font-weight: 0px;
}

.right-box p:nth-child(3){
    color: #3D5988;
    font-size: 20px;
    text-align: center;
    padding-left: 70px;
}

.right-box p:nth-child(4){
    margin-left: 80px;
    padding-top: 10%;
    font-size: 30px;
    color: #D93665;
    text-align: center;
}


.left-box{
    display: grid;
    grid-template-areas: "." ".";
    width: 500px;
}

.left-box p{
    font-size: 25px;
}

.left-box .set{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.left-box .line input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #737A8A;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #56657A;
    outline: none;
    background: transparent;
}

.left-box .line input:focus ~ span {
    display:none;
}

.left-box .line ::placeholder {
    color: #737A8A;
    font-size: 16px;
  }

  span {
    position:absolute;
    top:3px;
    left:3px;
}

.left-box .set .line label{
    position: absolute;
    padding: 10px 0;
    font-size: 16px;
    color: #56657A;
    pointer-events: none;
    transition: .5s;
}


.left-box button{
    background-color: #D93665;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px 10px 15px ;
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.2ms;
    
}
.left-box button:hover{
   background-color:#ff4e80 ;
}
