<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
     <title>Car Choice</title>
</head>
<body>
<div class="complete">
     

<div class="left-box">

<p>💙 Hey, can you provide some details..</p>

   <form action="{{ url_for('predict')}}" method="post">
    
<div class="set">
   <div class="line">
    <label>NAME</label><input id="form1" name="name" type="text" >
    
   </div>

   <div class="line">
     <label>MARKET PRICE</label><input id= "form1" name="marketPrice" type="text"> 
   
   </div>
</div>

<div class="set">
   <div class="line">
    <label>DISTANCE</label><input id= "form1" name="distance" type="text"> 
    
   </div>

   <div class="line">
    <label>AGE</label><input id= "form1" name="age" type="text">
    
   </div>
</div>

<div class="set">
     <div class="line">
    <label>NO OF LAST OWNERS</label><input id= "form1" name="lastOwner" type="text">
    
   </div>

   <div class="radio">
        <input name="fuel" id="Petrol" type="radio" value="Petrol">
        <label for="Petrol">PETROL</label>
        <input name="fuel" id="Diesel" type="radio" value="Diesel">
        <label for="Diesel">DIESEL</label>
        <input name="fuel" id="CNG" type="radio" value="CNG">
        <label for="CNG">CNG</label> 
   </div>
</div>

<div class="set">
   <div class="radio">
        <input name="trans" id="Auto" type="radio" value="auto">
        <label for="Auto">AUTO</label>
        <input name="trans" id="Manual" type="radio" value="manual">
        <label for="Manual">MANUAL</label>  
   </div>

   <div class="radio">
        <input name="seller" id="Dealer" type="radio" value="dealer">
        <label for="Dealer">DEALER</label>
        <input name="seller" id="Owner" type="radio" value="owner">
        <label for="Owner">OWNER</label>
   </div>
</div>

   <button action="" id= "pred" type="submit">PREDICT</button>

   <p>{{ f }}</p>
   </form>
   </div>

   <div class="right-box">
          <h1>Right container</h1>
     </div>


</div>

</body>
</html>