<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Choice</title>
</head>
<body>
   <form action="{{ url_for('predict')}}" method="post">
    
   <div class="line">
    <input id="form1" name="name" type="text" value = "name">
    <label>NAME</label>
   </div>

   <div class="line">
    <input id= "form1" name="marketPrice" type="text"> 
    <label>MARKET PRICE</label>
   </div>

   <div class="line">
    <input id= "form1" name="distance" type="text"> 
    <label>DISTANCE</label>
   </div>

   <div class="line">
    <input id= "form1" name="age" type="text">
    <label>AGE</label>
   </div>

    <div class="line">
    <input id= "form1" name="lastOwner" type="text">
    <label>NO OF LAST OWNERS</label>
   </div>

   <div class="radio">
        <input name="fuel" id="Petrol" type="radio" value="Petrol">
        <label for="Petrol">PETROL</label>
        <input name="fuel" id="Diesel" type="radio" value="Diesel">
        <label for="Diesel">DIESEL</label>
        <input name="fuel" id="CNG" type="radio" value="CNG">
        <label for="CNG">CNG</label> 
   </div>

   <div class="radio">
        <input name="trans" id="Auto" type="radio" value="auto">
        <label for="Auto">AUTO</label>
        <input name="trans" id="Manual" type="radio" value="manual">
        <label for="Manual">MANUAL</label>  
   </div>

   <div class="radio">
        <input name="seller" id="Dealer" type="radio" value="dealer">
        <label for="Dealer">DEALER</label>
        <input name="seller" id="Owner" type="radio" value="owner">
        <label for="Owner">OWNER</label>
   </div>

   <button action="" id= "pred" type="submit">PREDICT</button>

   <h3>{{ predict }}</h3>

   </form>
</body>
</html>